.package {
    background: #d5ffdc;
    text-align: left;
    width: 70%;
    border: 3px solid #0e4f1f;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
}

.package > a {
    text-decoration: none;
}