.container {
    display: flex;
}

.box {
    color: white;
    background: #ff1b68;
    padding: 100px 10px 300px 50px;
    margin: 100px 0px 10px 250px;
    border-radius: 8px;
    width: 40%;
}

.box1 {
    /* height: 100vh; */
    height: 300px;
    width: 50%;
    /* display: none; */
}

.box2:hover {
    background: #0e4f1f;
    border: none;
}